%main.mdl-layout__content
  .mdl-grid
    %header.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone
      My likes
  %ul.mdl-list
    - for trace <- @traces do
      %li.mdl-list__item
        .mdl-list__item-primary-content
          = trace.text
