%h2 Matching Employers
%table.table
  %thead
    %tr
      %th
      %th
      %th
      %th
  %tbody
    - for match <- @matches do
      %tr
        %td
          %img{src: "#{match.avatar}" width: 32 height: 32}
        %td
          = match.name
        %td
          = "#{match.pct} %"
        %td.text-right
