%h2 Listing likes
= link("My Matches", to: match_path(@conn, :index), class: "btn btn-success")
%table.table
  %thead
    %tr
      %th
  %tbody
    = for like <- @likes do
      %tr
        %td
          = like.name
        %td.text-right
          = link("Show", to: Enum.join([Facebook.Config.graph_url, like.page_id], "/"), class: "btn btn-default btn-xs")
    - end
