<%= if @current_user do %>
    <h2>Welcome, <%= @current_user.name %>!</h2>
    <img src="<%= @current_user.avatar %>" class="img-circle"/>
    <%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
    <br>
  <% else %>
    <a class="btn btn-primary btn-lg" href="/auth/facebook?scope=email,public_profile">
      <i class="fa fa-facebook"></i>
      Sign in with Facebook
    </a>
<% end %>
