- if @current_user do
  %main.mdl-layout__content
    .mdl-grid
      %header.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone
        %img{src: "#{@current_user.avatar}" width: 200 height: 200}
      .mdl-card.mdl-shadow--8dp.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
        .mdl-card__supporting-text
          = @current_user.name
        .mdl-card__actions
          = link "My Matches", to: match_path(@conn, :index), class: "mdl-button"
          = link "Profile", to: profile_path(@conn, :index), class: "mdl-button"
